<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE menu PUBLIC "-//CREATE Lab//Menu//EN" "http://www.createlab.ri.cmu.edu/dtd/terk/menu/menu.dtd">
<!--
0123456789012345
   Welcome to      ChargeCar!
-->
<menu welcome-text="   Welcome to      ChargeCar!">
   <item text="Audio">
      <item text="Set Volume">
         <item text="">
            <implementation-class name="org.chargecar.lcddisplay.demo.menu.action.SetVolumeMenuItemAction"/>
         </item>
      </item>
      <item text="Toggle Audio  Alerts">
         <item text="">
            <implementation-class name="org.chargecar.lcddisplay.demo.menu.action.ToggleAudioAlertsMenuItemAction">
               <property key="action.prompt">Enable Alerts?</property>
               <property key="choice.option1">Yes</property>
               <property key="choice.option2">No</property>
               <property key="action.option1">Audio alerts enabled.</property>
               <property key="action.option2">Audio alerts disabled.</property>
            </implementation-class>
         </item>
      </item>
   </item>
   <item text="Factory Reset">
      <item text="Reset All">
         <item text="">
            <implementation-class name="org.chargecar.lcddisplay.demo.menu.action.ResetAllMenuItemAction">
               <property key="action.prompt">Reset All?</property>
               <property key="choice.option1">OK</property>
               <property key="choice.option2">Cancel</property>
               <property key="action.option1">Reset to factorydefaults</property>
               <property key="action.option2">Cancelled!</property>
            </implementation-class>
         </item>
      </item>
   </item>
   <item text="System Info">
      <item text="Firmware             Version">
         <item text="">
            <implementation-class name="org.chargecar.lcddisplay.demo.menu.action.FirmwareVersionMenuItemAction"/>
         </item>
      </item>
      <item text="Hardware             Version">
         <item text="">
            <implementation-class name="org.chargecar.lcddisplay.demo.menu.action.HardwareVersionMenuItemAction"/>
         </item>
      </item>
   </item>
</menu>
